@font-face {
  font-family: SanFrancisco;
  src:url("fonts/SFCompactText-Bold.otf");
  font-family: Aileron;
  src:url("fonts/Ailerons-Typeface.otf");
  font-family: Monopoly;
  src:url("fonts/MONOPOLY_INLINE.ttf");
  font-family: NovaItalic;
  src:url("fonts/MoonBold.otf");
}
*{
  margin: 0;
  padding: 0;
}
body{
}

hr{
  text-align: center;
}

/* ------------------===HEADER===------------------ */
header{
  align-items: center;
  background-color: black;
  height: 55px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.links  {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

/* Dropdown Menu */
.list_item  {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  justify-content: center;
  position: relative; /* Para que sea la referencia del dropdown */
  width: 120px;
  color:white
}

.list_item:hover {
  background-color: gray;
}

.list_item:hover .dropdown { /* Que se muestre el dropdown cuando el mouse esté sobre el detonador */
  display: block;
}

.dropdown {
  display: none; /* Esconder el dropdown por default */
  background-color: black;
  position: absolute;
  top: 55px; /* Hay que acomodar el dropdown done queramos que aparesca */
  left: 0;
  width: 100%;
}

.dropdown ul {
  list-style: none;
}

.dropdown li {
  border-bottom: 1px solid red;
  box-sizing: border-box;
  padding: 20px 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: gray;
}
.logoHeader{
  width: 50px;
}
/* ---===SideMenu===------- */


.mobile-show {
  display: none;
  font-size: 35px;
  color:white
}
.sideMenu{
  box-sizing: border-box;
  background-color: black;
  position: fixed;
  top: 0;
  /* bottom: 0 */
  right:-300px;
  width:300px;
  transition: right .06s;
  padding: 55px 10px;
}
.sideMenu.active
{
  right:0;
}
/* Sidemenu styling */

.linksMovil {
  list-style: none;
}
.dropdownMovil ul {
  list-style: none;
}
.list_itemMovil {
  box-sizing: border-box;
  border-bottom: 1px solid red;
  padding: 20px;
  width: 100%;
}
.list_itemMovil p {
  font-weight: bold;
}
.dropdownMovil ul li {
  padding: 8px 0;
}
@media screen and (max-width:769px) {
  .mobile-show {
    display: block;
  }
.links {
    display: none;
    color:white;
  }
}
/* ------------------===Carrousel===------------------ */
.carrousel{
  display: flex;
  justify-content: center;
  align-items: center;
  height:calc(100vh - 55px);
  width:100%;
  padding-top: 55px;
}
.imageContainer{
  display: flex;
  height: 100%;
  width: 1500px;
  overflow: hidden;
}
.carrouselItem{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 100%;
  flex-shrink: 0;
  transition: transform .5s;
}
.carrouselItem picture {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.carrouselItem picture img{
  height: 100%;
  width: 100%;
}
.arrow-left{
  background-color: gray;
  font-size: 40px;
  border-radius: 80px;
  position: absolute;
  top: 400px;
  left:10px;
  z-index: 1;
  cursor: pointer;
}
.arrow-right{
  background-color: gray;
  font-size: 40px;
  border-radius: 80px;
  position: absolute;
  top:400px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}
.carrouselTitle{
  font-family: SanFrancisco;
  font-size: 80px;
  color: black;
  position: absolute;
  top:250px;
  left: 30px;
}

/* ------------------===FirstSection===------------------ */

.AboutUs{
  display: flex;
  justify-content: center;
  background-image: url('img/img8.jpg');
  background-size: cover;
  height:800px;
}
.subtitle{
  font-family: NovaItalic;
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 10px;
}
.div1{
  background-image: linear-gradient(rgba(9,11,10,.1), rgba(20,16,27,.6));
  width: 50%;
}
.div2{
  width: 50%;
}
.textAboutUsSize{
  width: 38%;
  position: absolute;
  left: 85px;
}
.paragraphAU{
  font-family: Monopoly;
  font-size: 30px;
  color: white;
  text-align: justify;
}
/* ------------------===services===------------------ */
.services{
  background-color: black;
  position: relative;
}
.servicesContainer{
  display: flex;
  justify-content: center;
}
.servicesItem img{
  width: 250px;
}
.servicesItem img:hover{
transform: rotate(-180deg);
transition: transform 0.5s;
cursor: pointer;
}
.servicesSubtitle{
  font-size: 20px;
  color:white;
  text-align: center;
}
.build, .work, .store{
  font-size: 50px;
  color: blue;
  display: flex;
  justify-content: center;
  position: absolute;
  top:200px;
}
.build{
  position: absolute;
  left:
}
.work{
  position: absolute;
  /* left:700px; */
}
.store{
  position: absolute;
  left:450px
}






.thirdSection
{
  background-image: url("img/blackWallpaper.jpg");
}
.thirdSection div
{
  width:800px ;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.thirdSection a {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 0 10px;
}
.thirdSection div img
{
  max-height: 100%;
  max-width: 100%;
}

.social-footer
{
  /* background-image: url("img/siguenos.jpg"); */
  width:100%;
  height: 300px;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
 footer img,
 .siguenos img
{
  width: 40px;
}
.siguenos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

/* h1{
  font-family: : Aileron;
  text-align: center;
  font-size: 40px;
  color:white;
  display:block;
} */





.parallax-window {
	min-height: 400px;
  /* width: 100%; */
}
